<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Waste Generation Visualization</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Waste Generation Visualization</h1>

      <h2>Total Annual Waste in Each Province</h2>
      <img
        src="{{ url_for('static', filename='total_sampah_tahunan.png') }}"
        alt="Total Sampah Tahunan 2023"
      />

      <h2>Average Annual Waste Generation in Each Province</h2>
      <img
        src="{{ url_for('static', filename='rata2_sampah_tahunan.png') }}"
        alt="Rata-rata Timbulan Sampah Tahunan"
      />

      <h2>Provinces with the Most Waste Generation Every Year</h2>
      <ul>
        {% for index, row in provinsi_terbanyak.iterrows() %}
        <li>{{ row['Tahun'] }}: {{ row['Provinsi'] }}</li>
        {% endfor %}
      </ul>

      <h2>Provinces with the Least Waste Generation Every Year</h2>
      <ul>
        {% for index, row in provinsi_tersedikit.iterrows() %}
        <li>{{ row['Tahun'] }}: {{ row['Provinsi'] }}</li>
        {% endfor %}
      </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
